<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="none" name="Default suite">
 <parameter name="browser" value="chrome" />
  <parameter name="URL" value="https://demoqa.com/" />
  <test name="Default test" verbose="2">
    <classes>
      <class name="newProj_demoqa_forms_TestCases.TC01_OpenForms"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
